DECLARE @dbName NVARCHAR(128) = '{{ dbName }}';
DECLARE @data_drive NVARCHAR(128) = '{{ drive_mapping.data }}';
DECLARE @log_drive NVARCHAR(128) = '{{ drive_mapping.logs }}';

DECLARE @sql NVARCHAR(MAX);

SET @sql = '
BACKUP DATABASE @dbName
TO DISK = ''' + @data_drive + ':\' + @dbName + N'.bak'';

BACKUP LOG @dbName
TO DISK = ''' + @log_drive + ':\' + @dbName + N'.bak.log'';
';

EXEC sp_executesql @sql;