DECLARE @dbName NVARCHAR(128) = '{{ dbName }}';
DECLARE @data_drive NVARCHAR(128) = '{{ drive_mapping.data }}';
DECLARE @log_drive NVARCHAR(128) = '{{ drive_mapping.logs }}';

DECLARE @backup_data_path NVARCHAR(50) =  @data_drive+":\" + @dbName +".bak";
DECLARE @backup_log_path NVARCHAR(50) =  @log_drive+":\" + @dbName +".log";


BACKUP DATABASE @dbName
TO DISK = @backup_data_path ;

BACKUP LOG @dbName 
TO DISK = @backup_log_path ;