DECLARE @dbName NVARCHAR(128) = '{{ dbName }}';
DECLARE @data_drive NVARCHAR(128) = '{{ drive_mapping.data }}';
DECLARE @log_drive NVARCHAR(128) = '{{ drive_mapping.logs }}';

DECLARE @sql NVARCHAR(MAX);

SET @sql = '
CREATE DATABASE [' + @dbName + N']
ON 
(
    NAME = ''' + @dbName + N'_Data'',
    FILENAME = ''' + @data_drive + ':\' + @dbName + N'_data.mdf'',
    SIZE = 10MB,
    MAXSIZE = 100MB,
    FILEGROWTH = 5MB
)
LOG ON 
(
    NAME = ''' + @dbName + N'_Log'',
    FILENAME = ''' + @log_drive + ':\' + @dbName + N'_log.ldf'',
    SIZE = 5MB,
    MAXSIZE = 50MB,
    FILEGROWTH = 2MB
);';

-- Execute the dynamic SQL
EXEC sp_executesql @sql;
