DECLARE @PrimaryServer NVARCHAR(128) = @@SERVERNAME;
DECLARE @SecondaryServer NVARCHAR(128) = (select member_name from master.sys.dm_hadr_cluster_members where member_name like 'sql-%' and member_name not like @@servername);
DECLARE @AvailabilityGroupName NVARCHAR(128) = '{{ AG_Name }}';
DECLARE @DatabaseName NVARCHAR(128) = '{{ dbName }}';

print @primaryServer
print @secondaryServer


DECLARE @sql NVARCHAR(MAX);

SET @sql = N'
CREATE AVAILABILITY GROUP ' + QUOTENAME(@AvailabilityGroupName) + N'
WITH (AUTOMATED_BACKUP_PREFERENCE = SECONDARY,
DB_FAILOVER = OFF,
DTC_SUPPORT = NONE,
REQUIRED_SYNCHRONIZED_SECONDARIES_TO_COMMIT = 0)
FOR DATABASE ' + QUOTENAME(@DatabaseName) + N'
REPLICA ON
    N''' + @PrimaryServer + N''' WITH (
        ENDPOINT_URL = N''TCP://' + @PrimaryServer + N':5022'',
        FAILOVER_MODE = AUTOMATIC,
        AVAILABILITY_MODE = SYNCHRONOUS_COMMIT,
        BACKUP_PRIORITY = 50, 
        SEEDING_MODE = AUTOMATIC, 
        SECONDARY_ROLE (ALLOW_CONNECTIONS = NO)),
    N''' + @SecondaryServer + N''' WITH (
        ENDPOINT_URL = N''TCP://' + @SecondaryServer + N':5022'',
        FAILOVER_MODE = AUTOMATIC,
        AVAILABILITY_MODE = SYNCHRONOUS_COMMIT,
        BACKUP_PRIORITY = 50, 
        SEEDING_MODE = AUTOMATIC, 
        SECONDARY_ROLE (ALLOW_CONNECTIONS = NO));';


PRINT @sql;



EXEC sp_executesql @sql;

ALTER AVAILABILITY GROUP ['{{ AG_Name }}'] GRANT CREATE ANY DATABASE;