BEGIN

CREATE DATABASE '{{ dbName }}'
ON PRIMARY 
(
    NAME = '{{ dbName }}_Data',
    FILENAME = '{{ drive_mapping.data }}:\\{{ dbName }}_data.mdf'
);
LOG ON
(
    NAME = '{{ dbName }}_Log',
    FILENAME = '{{ drive_mapping.logs }}:\\{{ dbName }}_log.ldf'
);



BACKUP DATABASE @dbName
TO DISK = {{ drive_mapping.data }}:\\{{ dbName }}.bak ;

BACKUP LOG @dbName 
TO DISK = {{ drive_mapping.logs }}:\\{{ dbName }}.log ;

END