if not exists (select * From sys.availability_groups where name  = '{{ availability_group }}')
BEGIN

DECLARE @PrimaryServer NVARCHAR(128) = @@SERVERNAME;
DECLARE @SecondaryServer NVARCHAR(128) = (select member_name from master.sys.dm_hadr_cluster_members where member_name like 'sql-%' and member_name not like @@servername);

	CREATE AVAILABILITY GROUP [{{ AG_Name }}]
		WITH (CLUSTER_TYPE = NONE)
		FOR REPLICA ON
			N'{{ primary_host_name }}' WITH (
				ENDPOINT_URL = N''TCP://' + @PrimaryServer + N':5022'',
				AVAILABILITY_MODE = ASYNCHRONOUS_COMMIT,
				FAILOVER_MODE = MANUAL,
				SEEDING_MODE = AUTOMATIC,
				SECONDARY_ROLE (ALLOW_CONNECTIONS = ALL)
				),
			N'{{ secondary_host_name }}' WITH ( 
				ENDPOINT_URL = N''TCP://' + @SecondaryServer + N':5022'', 
				AVAILABILITY_MODE = ASYNCHRONOUS_COMMIT,
				FAILOVER_MODE = MANUAL,
				SEEDING_MODE = AUTOMATIC,
				SECONDARY_ROLE (ALLOW_CONNECTIONS = ALL)
				);

END

ALTER AVAILABILITY GROUP [{{ AG_Name }}] GRANT CREATE ANY DATABASE;