DECLARE @PrimaryServer NVARCHAR(128) = @@SERVERNAME;
DECLARE @SecondaryServer NVARCHAR(128) = 
    (SELECT member_name 
     FROM master.sys.dm_hadr_cluster_members 
     WHERE member_name LIKE 'sql-%' 
       AND member_name NOT LIKE @@SERVERNAME);

DECLARE @AG_Name NVARCHAR(128) = '{{ AG_Name }}';
DECLARE @Sql NVARCHAR(MAX);

SET @Sql = N'
CREATE AVAILABILITY GROUP [' + QUOTENAME(@AG_Name) + N']
WITH (CLUSTER_TYPE = NONE)
FOR REPLICA ON
    N''' + @PrimaryServer + N''' WITH (
        ENDPOINT_URL = N''TCP://' + @PrimaryServer + N':5022'',
        AVAILABILITY_MODE = ASYNCHRONOUS_COMMIT,
        FAILOVER_MODE = MANUAL,
        SEEDING_MODE = AUTOMATIC,
        SECONDARY_ROLE (ALLOW_CONNECTIONS = ALL)
    ),
    N''' + @SecondaryServer + N''' WITH (
        ENDPOINT_URL = N''TCP://' + @SecondaryServer + N':5022'',
        AVAILABILITY_MODE = ASYNCHRONOUS_COMMIT,
        FAILOVER_MODE = MANUAL,
        SEEDING_MODE = AUTOMATIC,
        SECONDARY_ROLE (ALLOW_CONNECTIONS = ALL)
    );';

EXEC sp_executesql @Sql;

ALTER AVAILABILITY GROUP [' + QUOTENAME(@AG_Name) + N'] GRANT CREATE ANY DATABASE;
